*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  height: 40vw;
  width: 70vw;
  border: 1px rgb(214, 214, 214) solid;
  box-shadow: 15px 15px 15px rgb(179, 179, 179);
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

a{
  color: black;
  text-decoration: none;
}

/*´=============================================================== NAV BAR ==============================================================*/

nav{
  height: 4vw;
  border-bottom: rgb(199, 199, 199) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 3px 4px rgb(184, 184, 184);
}

.logo{
  font-size: 1.3vw;
  font-weight: bold;
}

.light-mode{
  border: 1px solid gray;
  border-radius: 50px;
  width: 2vw;
  height: 1vw;
  position: relative;
}

.switch-button-off, 
.switch-button-on{
  height: 1.2vw;
  width: 1.2vw;
  border-radius: 50%;
  background-color: gray;
  border: 1px solid gray;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

}

.switch-button-off{
  left: 0;
}

.switch-button-on{
  right: 0;
}

/*=============================================================== HOME ========================================================*/

.cardsScreen,
.formScreen{
  height: calc(100% - 4vw);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------------------------------- FORM CARD ------------------------------------------*/

.addCityCard,
.addCityForm{
  background-image: url("../city.jpg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: position 2s all;
}

.addCityForm{
  position: absolute;
  height: 27vw;
  width: 18vw;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(209, 209, 209);
  border: 1px solid rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addCityForm form{
  position: absolute;
  top: 4vw;
  width: 60%;
  display: flex;
  justify-content: center;
}

.addCityForm input{
  border: none;
  border-bottom: black 3px solid;
  width: 100%;
  font-size: 1.1vw;
  padding: 0.3vw;
  text-align: center;
}

.addCityCard h1{
  position: absolute;
  font-size: 1.5vw;
  top: 0.8vw;
}

/*------------------------------------------- ADD CITY CARD ---------------------------------------*/

.linkContainer,
.addCityCard{
  height: 18vw;
  min-width: 12vw;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(209, 209, 209);
  border: 1px solid rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0.75vw;
}

.addCityCard{
  margin-right: 1.5vw;
}

.addCityBtn,
.addCityBackBtn{
  height: 3.5vw;
  width: 3.5vw;
  border-radius: 50%;
  border: 5px solid rgb(22, 22, 22);
  background-color: white;
  font-size: 4vw;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24%;
}

.addCityBackBtn{
  height: 2.8vw;
  width: 2.8vw;
  top: 30%;
  font-size: 2vw;
}

.addCityBtn:hover,
.addCityBackBtn:hover{
  transform: scale(1.1);
}

.addCityBtn:active,
.addCityBackBtn:active{
  transform: scale(1);
}

/*-------------------------------------- CITY CARD ----------------------------------*/

.listOfCards{
  display: flex;
  padding-left: 0;
  height: 21vw;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: linear 0.5s all;
  list-style: none;
}

.linkContainer{
  flex-direction: column;
  cursor: pointer;
  margin: 0;
}

.cityCard{
  position: relative;
  margin: 0.75vw;
}

.cityCard:hover{
  transform: scale(1.1);
}

.addCityCard:hover{
  transform: scale(1.1);
  box-shadow: 7px 7px 12px rgb(209, 209, 209);
}

.linkContainer:active{
  transform: scale(1.05);
}

.cityName{
  position: absolute;
  top: 0.8vw;
  font-size: 1.5vw;
  text-align: center;
  padding: 0 5px;
}

.linkContainer>i{
  font-size: 4vw;
  position: absolute;
  top: 25%;
}

.currentTemp{
  position: absolute;
  bottom: 31%;
  font-size: 3vw;
  font-weight: bold;
}

.degrees{
  position: absolute;
  top: -10px;
  right: -30%;
  font-size: 2.3vw;
}

.weatherDesc{
  position: absolute;
  bottom: 26%;
  font-size: 1vw;
}

.daylight{
  position: absolute;
  bottom: 0.8vw;
  display: flex;
  justify-content: center;
  height: 2.5vw;
  width: 100%;
}

.daylight>div{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wi-sunrise,
.wi-sunset{
  font-size: 2vw;
}

.closeCityBtn{
  position: absolute;
  top: 2%;
  right: 2%;
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  border: 3px solid black;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 2px 2px 3px rgb(190, 190, 190);
  z-index: 50;
}

.closeCityBtn:hover{
  transform: scale(1.1);
}

.closeCityBtn:hover>span{
  transform: scale(1.1) rotate(45deg);
}

.closeCityBtn span{
  transform: rotate(45deg);
  font-size: 1.1vw;
  font-weight: bold;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------------------------------ SLIDER -----------------------------------------*/

.cardSlider{
  display: flex;
  padding-left: 0;
  margin: 0.75vw;
  margin-left: 1.5vw;
  overflow: hidden;
  height: 21vw;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sliderLeft,
.sliderRight{
  height: 18vw;
  width: 5.7vw;
  z-index: 100;
  background-color: rgba(197, 197, 197, 0.705);
  cursor: pointer;
  border: none;
  position: absolute;
  display: none;
}

.sliderRight{
  right: 0;
  border-radius: 10px 0 0 10px;
}

.sliderLeft{
  left: 0;
  border-radius: 0 10px 10px 0;
}

.sliderLeft:hover,
.sliderRight:hover{
  background-color: rgba(145, 145, 145, 0.918);
}

.cardSlider:hover .sliderLeft,
.cardSlider:hover .sliderRight{
  display: block;
}

.fa-chevron-left,
.fa-chevron-right{
  font-size: 4rem;
  color: white;
}

.errorMsg{
  height: 60px;
  width: 80%;
  z-index: 100;
  position: absolute;
  top: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

/*================================================================ LOAD SCREEN / ERROR SCREEN ==========================================================================*/

.loadScreen,
.errorScreen{
  height: calc(100% - 4vw);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loadScreen>h1,
.errorScrenn>h1{
  margin-top: 1vw;
  font-size: 2vw;
}

.loadScreen>i{
  font-size: 5vw;
  animation: spin-animation 7s linear infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/*======================================================== CITY DETAIL SCREEN =====================================================================*/

.detailScreen{
  position: relative;
  height: 36vw;
  width: 100%;
}

.detailCityInfo{
  position: relative;
  top: 2.5vw;
  width: 30vw;
  right: -35vw;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  padding-right: 2vw;  
}

.detailCityInfo>i{
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  font-size: 5vw;

}

.detailCityName{
  font-size: 3vw;
  text-decoration: underline;
  text-align: center;
}

/*------------------------------------------------------------------- DAY CARD ---------------------------------------------------------------*/

.dayCardsList{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13vw;
  list-style: none;
}

.dayCard{
  width: calc(100% / 7);
  height: 100%;
  border: 1px solid rgb(179, 179, 179);
  border-top: 2px solid rgb(179, 179, 179);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: ease-out 0.2s all;
  background-color: white;
}

.dayCard:hover{
  transform: translateY(-18%);
  border: 1px solid rgb(179, 179, 179);
}

.dayCard>i{
  font-size: 3vw;
}

.dayName{
  font-size: 1.5vw;
  font-weight: bold;
  border-bottom: 3px solid black;
  margin-top: 1vw;
}

.minMax{
  width: 100%;
  display: flex;
  margin-bottom: 1vw;
  height: 20%;
}

.minMax p{
  font-size: 1vw;
  margin-top: 0.1vw;
  position: relative;
}

.maxTemp,
.minTemp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.minTemp{
  padding-right: 1vw;
}

.maxTemp{
  padding-left: 1vw;
  border-right: 1px solid rgb(179, 179, 179);
}

.dayDegrees{
  position: absolute;
  top: -0.2vw;
  right: -0.4vw;
  font-size: 1vw;
}
.minMax h2{
  font-size: 1.2vw;
}

/*--------------------------------------- DAY DETAIL ------------------------------------------------------*/

.dayScreen{
  position: absolute;
  top: 0;
  width: 100%;
}

.dayDetails{
  width: 30%;
  height: 15vw;
  position: absolute;
  left: 4vw;
  top: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dayNightTemps{
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.6vw;
}

.dayNightTemps>span{
  font-size: 9vw;
}

.dayNightTemps>div{
  display: flex;
  flex-direction: column;
}

.popisDenMax,
.popisDenMin{
  font-size: 1.2vw;
  position: relative;
}

.denMax>p,
.denMin>p{
  font-size: 6vw;
  position: relative;
}

.denMax>p{
  right: 0vw;
  bottom: 2vw;
}

.denMin>p{
  left: 0vw;
  top: 2vw;
}

.DayDegree{
  font-size: 3.5vw;
  font-weight: bold;
  position: absolute;
  top: -0.5vw;
  right: -1.5vw;
}

.cloudsRain{
  display: flex;
  height: 25%;
  justify-content: center;
  align-items: center;
}

.cloudsRain div{
  text-align: center;
}

.cloudsRain i{
  font-size: 2.5vw;
}

.cloudiness{
  border-right: 2px solid rgb(175, 175, 175) ;
}

.cloudiness p,
.rainProb p{
  font-size: 1vw;
  padding: 0 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------------------------------- GO HOME BTN ------------------------------------------------*/

.goHomeBtn{
  height: 2.5vw;
  width: 2.5vw;
  border: 4px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  cursor: pointer;
  position: relative;
  top: 1vw;
  left: 1vw;
  box-shadow: 0.2vw 0.2vw 0.3vw rgb(173, 173, 173);
  z-index: 50;
}

.goHomeBtn:hover{
  transform: scale(1.1);
}

.grafik{
  width: 20vw;
  height: 20vw;
}

.chart {
  position: absolute;
  width: 30vw;
  height: 12vw;
  top: 9vw;
  right: 5vw;
  text-align: center;
  margin-bottom: 0;
}
