*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.app{
  height: 40vw;
  width: 70vw;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.300);
  border-radius: 10px;
  overflow: hidden;
}

a{
  color: black;
  text-decoration: none;
}

/*´=============================================================== NAV BAR ==============================================================*/

nav{
  height: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  background-color: #fcfcfc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.250);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.rightPart,
.leftPart{
  width: 10vw;
  display: flex;
  align-items: center;
}

.leftPart>i{
  margin-right: 1vw;
  font-size: 1vw;
  cursor: pointer;
  padding-top: 0.1vw;
  color: #231d14;
}

.rightPart{
  display: flex;
  justify-content: flex-end;
}

.logo{
  font-size: 1.3vw;
  font-weight: bold;
  padding: 0.3vw;
  color: #e7ad40;
}

.logo span{
  padding: 0.1vw 0.3vw;
  background-color: #e7ad40;
  color: rgb(247, 247, 247);
}

.navDayName{
  font-size: 2vw;
  font-weight: bold;
  color: #231d14;
}

.light-mode{
  border-radius: 50px;
  width: 2.5vw;
  height: 1.3vw;
  position: relative;
  margin: 0 0.7vw;
  z-index: 1000;
  box-shadow: 
    inset -2px -2px 4px #0000002a,
    inset 2px 2px 4px #0000001f;
}

.rightPart i{
  font-size: 1.2vw;
  color: rgb(187, 187, 187);
}

.rightPart>.wi-day-sunny{
  color: #292929;
}

.switch-button-off, 
.switch-button-on{
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  background: linear-gradient( 145deg, #ffffff, #c4c4c4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: ease-out 2s all;
  box-shadow: 
    inset -2px -2px 4px #0000002a,
    inset 2px 2px 4px #0000001f;
}

.switch-button-off{
  left: 0.2vw;
}

.switch-button-on{
  right: 0.2vw;
}

/*=============================================================== HOME ========================================================*/

.cardsScreen,
.formScreen{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4vw;
  position: relative;
  background: #f8f8f8f8;
  color: #231d14;
}

/*----------------------------------------------- FORM CARD ------------------------------------------*/

.addCityCard,
.addCityForm{
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.addCityCard img,
.addCityForm img{
  position: absolute;
  bottom: 0;
  width: 123%;
  opacity: 0.97;
}

.addCityForm{
  position: absolute;
  height: 27vw;
  width: 18vw;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.250);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #FAFAFA;
}

.addCityForm form{
  position: absolute;
  top: 4vw;
  width: 60%;
  display: flex;
  justify-content: center;
}

.addCityForm input{
  border: none;
  border-bottom: #231d14 3px solid;
  width: 100%;
  font-size: 1.1vw;
  padding: 0.3vw;
  text-align: center;
  background-color: #FAFAFA;
}

.addCityCard h1{
  position: absolute;
  font-size: 1.5vw;
  top: 0.8vw;
  z-index: 5;
}

/*------------------------------------------- ADD CITY CARD ---------------------------------------*/

.linkContainer,
.addCityCard{
  height: 18vw;
  min-width: 12vw;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.250);
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0.75vw;
  color: #231d14;
}

.linkContainer:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.250);
}

.addCityCard{
  margin-right: 1.5vw;
  max-width: 12vw;
}

.addCityBtn,
.addCityBackBtn{
  height: 3.5vw;
  width: 3.5vw;
  border-radius: 50%;
  background-color: #fcfcfc;
  font-size: 4vw;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #e7ad40;
  top: 24%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.250);
  z-index: 5;
}

.addCityBackBtn{
  height: 2.8vw;
  width: 2.8vw;
  top: 30%;
  font-size: 2vw;
}

.addCityBtn:hover,
.addCityBackBtn:hover{
  transform: scale(1.1);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.250);
}

.addCityBtn:active,
.addCityBackBtn:active{
  transform: scale(1);
}

/*-------------------------------------- CITY CARD ----------------------------------*/

.listOfCards{
  display: flex;
  padding-left: 0;
  height: 21vw;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: linear 0.5s all;
  list-style: none;
}

.linkContainer{
  flex-direction: column;
  cursor: pointer;
  margin: 0;
}

.cityCard{
  position: relative;
  margin: 0.75vw;
}

.cityCard:hover{
  transform: scale(1.1);
}

.addCityCard:hover{
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.250);
}

.linkContainer:active{
  transform: scale(1.05);
}

.cityName{
  position: absolute;
  top: 0.8vw;
  font-size: 1.5vw;
  text-align: center;
  padding: 0 5px;
}

.linkContainer>i{
  font-size: 4vw;
  position: absolute;
  top: 25%;
}

.currentTemp{
  position: absolute;
  bottom: 31%;
  font-size: 3vw;
  font-weight: bold;
}

.degrees{
  position: absolute;
  top: -10px;
  right: -30%;
  font-size: 2.3vw;
}

.weatherDesc{
  position: absolute;
  bottom: 26%;
  font-size: 1vw;
}

.daylight{
  position: absolute;
  bottom: 0.8vw;
  display: flex;
  justify-content: center;
  height: 2.5vw;
  width: 100%;
}

.daylight>div{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wi-sunrise,
.wi-sunset{
  font-size: 2vw;
}

.closeCityBtn{
  position: absolute;
  top: 2%;
  right: 2%;
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.250);
  z-index: 9;
}

.closeCityBtn:hover{
  transform: scale(1.1);
}

.closeCityBtn:hover>span{
  transform: scale(1.1) rotate(45deg);
}

.closeCityBtn span{
  transform: rotate(45deg);
  font-size: 1.1vw;
  font-weight: bold;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------------------------------ SLIDER -----------------------------------------*/

.cardSlider{
  display: flex;
  padding-left: 0;
  margin: 0.75vw;
  margin-left: 1.5vw;
  overflow: hidden;
  height: 21vw;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sliderLeft,
.sliderRight{
  height: 18vw;
  width: 5.8vw;
  z-index: 100;
  background-color: rgba(197, 197, 197, 0.705);
  cursor: pointer;
  border: none;
  position: absolute;
  display: none;
}

.sliderRight{
  right: 0;
  border-radius: 10px 0 0 10px;
}

.sliderLeft{
  left: 0;
  border-radius: 0 10px 10px 0;
}

.sliderLeft:hover,
.sliderRight:hover{
  background-color: rgba(145, 145, 145, 0.918);
}

.cardSlider:hover .sliderLeft,
.cardSlider:hover .sliderRight{
  display: block;
}

.fa-chevron-left,
.fa-chevron-right{
  font-size: 4rem;
  color: white;
}

.errorMsg{
  height: 3vw;
  width: 25%;
  z-index: 100;
  position: absolute;
  top: 5vw;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
}

/*================================================================ LOAD SCREEN / ERROR SCREEN ==========================================================================*/

.loadScreen,
.errorScreen{
  height: calc(100% - 4vw);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loadScreen>h1,
.errorScrenn>h1{
  margin-top: 1vw;
  font-size: 2vw;
}

.loadScreen>i{
  font-size: 5vw;
  animation: spin-animation 7s linear infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/*======================================================== CITY DETAIL SCREEN =====================================================================*/

.detailScreen{
  position: relative;
  height: 40vw;
  width: 100%;
}

.detailCityInfo{
  display: grid;
  grid-template-columns: repeat(5 1fr);
  gap: 0.5vw;
  grid-template-areas: 
    "cityname cityname cityname cityname cityicon";
  grid-area: city;
  color: #231d14;
}

.detailCityInfo>i{
  font-size: 3.2vw;
  grid-area: cityicon;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.250);
  background: #FAFAFA;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e7ad40;

}

.detailCityName{
  font-size: 3vw;
  grid-area: cityname;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.250);
  background: #FAFAFA;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------------------------------------------------------------- DAY CARD ---------------------------------------------------------------*/

.dayCardsList{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13vw;
  list-style: none;
  background: #f8f8f8;
  border-radius: 10px;
}

.dayCard{
  width: calc(100% / 7);
  height: 100%;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.250);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: ease-out 0.2s all;
  background-color: #fcfcfc;
  color: #231d14;
  border-radius: 10px;
}

.dayCard:hover{
  transform: translateY(-18%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.250);
}

.dayCard>i{
  font-size: 3vw;
}

.dayName{
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: 1vw;
}

.minMax{
  width: 100%;
  display: flex;
  margin-bottom: 1vw;
  height: 20%;
}

.minMax p{
  font-size: 1vw;
  margin-top: 0.1vw;
  position: relative;
}

.maxTemp,
.minTemp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.minTemp{
  padding-right: 1vw;
}

.maxTemp{
  padding-left: 1vw;
  border-right: 1px solid rgb(179, 179, 179);
}

.dayDegrees{
  position: absolute;
  top: -0.2vw;
  right: -0.4vw;
  font-size: 1vw;
}
.minMax h2{
  font-size: 1.2vw;
}

/*--------------------------------------- DAY DETAIL ------------------------------------------------------*/

.dayScreen{
  width: 100%;
  height: 23vw;
  position: relative;
  top: 1.5vw;
  padding: 2vw 2vw;
  background: #f8f8f8fa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5vw 2vw;
  grid-template-areas: 
    "temps temps city city city"
    "temps temps graph graph graph"
    "temps temps graph graph graph";
}
.dayDetails{
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(3 1fr);
  gap: 0.5vw 0.5vw;
  grid-template-areas: 
    "temp-high temp-high temp-low temp-low"
    "temp-high temp-high temp-low temp-low"
    "humidity clouds rain-prob rain-amount";
  color: #231d14;
  grid-area: temps;
}

.dayDetails>div{
  background: #FAFAFA;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.250);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.4vw;
}

.denMax>i,
.denMin>i{
  font-size: 5vw;
}

.denMax>p,
.denMin>p{
  font-size: 3vw;
}

.den-small{
  justify-content: center;
}

.den-small h2{
  font-size: 1.1vw;
}

.den-small>i{
  font-size: 2.5vw;
}

.den-small>p{
  font-size: 1vw;
}

.denMax{
  grid-area: temp-high;
}

.denMin{
  grid-area: temp-low;
}

.humidity{
  grid-area: humidity;
}

.humidity>i{
  grid-area: humidity;
  font-size: 2vw;
}

.cloudiness{
  grid-area: clouds;
}

.rainProb{
  grid-area: rain-prob;
}

.rainAmount{
  grid-area: rain-amount;
}




/*----------------------------------------------- GO HOME BTN ------------------------------------------------*/

.goHomeBtn{
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  color: #e7ad40;
  cursor: pointer;
  position: relative;
  top: 5vw;
  left: 1vw;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.250);
  background-color: #fcfcfc;
  z-index: 9;

}

.goHomeBtn:hover{
  transform: scale(1.1);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.250);
}

.chart {
  text-align: center;
  grid-area: graph;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.250);
  min-width: 0;
  border-radius: 10px;
  background: #FAFAFA;
  position: relative;
}

.chart h2{
  position: absolute;
  top: 0.2vw;
  right: 0.8vw;
  font-size: 1.2vw;
  color: #4b4947;
}


/*================================================ SIDE MENU =====================================================*/

.side-menu{
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: rgb(151, 151, 151);
  top: 0;
  left: 0;
  z-index: 20;
  transition: ease-out 0.2s all;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.side-menu header i{
  position: absolute;
  top: 0.4vw;
  right: 0.4vw;
  cursor: pointer;
}

.side-background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(197, 197, 197, 0.466);
  z-index: -1;
  opacity: 0;
  cursor: pointer;
  transition: ease-out 0.3s all;
  top: 0;
  left: 0;
}

.side-menu header{
  height: 30%;
  width: 100%;
  background-color: rgb(112, 112, 112);
  text-align: center;
  padding-top: 0.5vw;
  box-shadow: 0px 0.4vw 0.4vw rgb(102, 102, 102);
  position: relative;
}

.side-menu header h2{
  font-size: 1.3vw;
} 

.side-menu footer{
  height: 4%;
  width: 100%;
  padding-bottom: 0.5vw;
  text-align: center;
  font-size: 0.8vw;
}

.user{
  height: 25%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user img{
  height: 100%;
  margin-right: 1vw;
}

.text-holder{
  text-align: start;
  font-size: 0.9vw;
}

.side-menu main{
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-menu main p{
  color: rgb(231, 231, 231);
}

.side-menu main span{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.side-menu ul{
  padding-top: 2vw;
  list-style: none;
}

.side-menu li{
  padding: 0.3vw;
  margin: 0.8vw;
  font-size: 0.8vw;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.side-menu form{
  display: flex;
  flex-direction: column;
  margin-top: 4vw;
  margin-bottom: 1vw;
  width: 80%;
}

.input-container{
  text-align: center;
  position: relative;
}

.input-container i{
  position: absolute;
  top: 50%;
  left: 0.5vw;
  transform: translateY(-60%);
  font-size: 1vw;
}

.side-menu form input{
  padding: 0.5vw 2vw;
  margin: 0.2vw 0;
  border: none;
  border-bottom: 0.2vw solid white;
  background-color: transparent;
  width: 100%;
  font-size: 0.8vw;
  color: white;
}

#log-in{
  padding: 0.7vw;
  font-size: 0.9vw;
  cursor: pointer;
  color: rgb(54, 54, 54);
  background-color: rgb(238, 238, 238);
  margin-top: 1vw;
  border: none;
}

#log-in:hover{
  background-color: rgb(248, 248, 248);
}

.side-menu li:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1vw;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.side-menu li:hover:before{
  visibility: visible;
  transform: scaleX(1);
}